html {
	font-size: 62.5%; /* Reset para rem. 62.5% = 10px de 16ps */
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	margin: 0;
	display: grid;
	grid-template-rows: 1fr;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.6rem;
	background-color: #d5eff2ff;
}

img {
	max-width: 100%;
}

/* Globals */

/* Header */
.site-header {
	height: 5rem;
	background-color: #014669ff;
}

.header-content {
	line-height: 1rem;
	display: flex;
	justify-content: space-between;
}

.navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.navigation a {
	color: #d5eff2ff;
	text-decoration: none;
}

.navigation div {
	padding: 2rem 1rem;
}

.navigation div:hover {
	color: #014669ff;
	background-color: #d5eff2ff;
}

.navigation div.active {
	color: #014669ff;
	background-color: #d5eff2ff;
}

/* Body */
.container {
	margin: 0 auto;
	padding: 2rem;
	background-color: white;
	max-width: 120rem;
}

/* Bars */
.search-bar {
	margin: 0 1rem;
	text-align: right;
}

.rol-bar {
	margin: 1rem 0;
	border-bottom: 1px solid black;
	display: flex;
}

.rol-bar div {
	width: 4.5rem;
	height: 3.5rem;
	padding: 0.2rem;
	margin: 0 0.1rem;
	text-align: center;
	background-color: #014669ff;
	border-radius: 5px 5px 0 0;
	border: 1px solid black;
}

.rol-bar img {
	max-height: 100%;
	filter: 
}

/* Champions */
.champion-list {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

.champion-item {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.champion-item img {
	width: 7rem;
	padding: 0.5rem;
	border-radius: 50%;
}

.champion-item a {
	margin: 0 auto;
	padding: 0.5rem 0;
}
