{% extends 'base.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'champions/css/detail.css' %}">
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div style="width: 10rem">
				{% with 'champion/'|add:champion.identifier|add:'.png' as champ_tile %}
				<img src="{% static champ_tile %}"/>
				{% endwith %}
			</div>
			<div class="col-9 align-self-end">
				<div class="row">
					<h2>{{ champion.name }}</h2>
				</div>
				<div class="row">
					<div class="px-1" style="width: 3rem">
						{% with 'passive/'|add:data.passive.image.full as passive_img %}
						<img data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" title="<b>{{ data.passive.name }}</b></br></br>{{ data.passive.description }}" src="{% static passive_img %}"/>
						{% endwith %}
					</div>
					{% for spell in data.spells %}
						<div class="px-1" style="width: 3rem">
							{% with 'spell/'|add:spell.image.full as spell_img %}
							<img data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" title="<b>{{ spell.name }}</b></br></br>{{ spell.description }}" src="{% static spell_img %}"/>
							{% endwith %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
