{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="container">
		<div class="row justify-content-between">
			{% for champion in champions %}
			<div class="p-2" style="width: 5.5rem">
				<a class="text-decoration-none text-center text-secondary" href="{% url 'champions/detail' champion.identifier %}">
					{% with 'champion/'|add:champion.identifier|add:'.png' as champ_tile %}
					<img class="rounded-circle active-border" src="{% static champ_tile %}" class="image-thumbnail"/>
					{% endwith %}
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
