{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="container">
		<div class="search-bar">
			<form>
				<input type="text" name="search_text"/>
				<input type="submit" value="Buscar"/>
		</div>
		<div class="rol-bar">
			<div class="active"><a href="#">Todos</a></div>
			<div><a href="#">Superior</a></div>
			<div><a href="#">Jungla</a></div>
			<div><a href="#">Medio</a></div>
			<div><a href="#">Inferior</a></div>
			<div><a href="#">Soporte</a></div>
		</div>
		<div class="champion-list">
			{% for champion in champions %}
			<a class="champion-item" href="{% url 'detail' champion.identifier %}">
				{% with 'champion/'|add:champion.identifier|add:'.png' as champ_tile %}
				<img src="{% static champ_tile %}"/>
				{% endwith %}
				<div>{{ champion.name }}</div>
			</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
