html {
	font-size: 62.5%; /* Reset para rem. 62.5% = 10px de 16ps */
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	margin: 0;
	/*display: grid;*/
	grid-template-rows: 1fr;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background-color: #d5eff2ff;
}

img {
	max-width: 100%;
}

/* Globals */

/* Header */
.site-header {
	height: 5rem;
	background-color: #014669ff;
	font-weight: 800;
}

.header-content {
	line-height: 1rem;
	display: flex;
	justify-content: space-between;
}

.navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.navigation a {
	color: #d5eff2ff;
	text-decoration: none;
}

.navigation div {
	padding: 2rem 1rem;
}

.navigation div:hover {
	color: #014669ff;
	background-color: #d5eff2ff;
}

.navigation div.active {
	color: #014669ff;
	background-color: #d5eff2ff;
}

/* Body */
.container {
	margin: 0 auto;
	padding: 2rem;
	background-color: white;
	max-width: 90rem;
}

/* Bars */
.search-bar {
	margin: 1rem 0;
	text-align: right;
}

.rol-bar {
	height: 3rem;
	display: flex;
}

.rol-bar div {
	text-align: center;
	margin: 0 0.5rem;
}

.rol-bar a {
	color: black;
	text-decoration: none;
}

.rol-bar div.active {
	color: #014669ff;
	border-bottom: 2px solid #014669ff;
	font-weight: 600;
}

.rol-bar div:hover {
	color: #014669ff;
	border-bottom: 2px solid #014669ff;
	font-weight: 600;
}

/* Champions */
.champion-list {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

.champion-item {
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
	color: black;
	text-decoration: none;
	font-size: 1.2rem;
	min-width: 8.6rem;
}

.champion-item img {
	margin: 0 auto;
	width: 7rem;
	padding: 0.5rem;
	border-radius: 50%;
}

.champion-item:hover img {
	border: 2px solid #014669ff;
}

.champion-item div {
	margin: 0 auto;
	padding: 0.5rem 0;
	text-align: center;
}

.champion-item:hover div {
	font-weight: 600;
}

.champ-summary {
	padding: 2rem 0;
	display: flex;
}

.champ-img {
	width: 12rem;
}

.champ-detail {
	margin-left: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.champ-name {
	font-size: 2.2rem;
	font-weight: 800;
	margin: 1rem 0;
}

.champ-spells {
	display: flex;
}

.spell {
	position: relative;
}

.spell img {
	width: 3.5rem;
	margin-right: 1rem;
}

.spell-descr {
	display: none;
	padding: 1rem;
	width: 30rem;
	z-index: 1;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -2.25rem;
	background-color: black;
	color: white;
}

.spell:hover .spell-descr {
	display: flex;
	flex-direction: column;
}

.spell-name {
	font-weight: 600;
	padding-bottom: 1rem;
}
