<!DOCTYPE html>
{% load static %}
<html class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;800&display=swap"> 
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap-5.1.3/css/bootstrap.min.css' %}">

		{% block head %}
		{% endblock %}
		<title>LoLStats</title>
	</head>
	<body class="d-flex flex-column h-100">
		<header>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">LoLStats</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false" aria-label="Toglle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div id="navbarCollapse" class="collapse navbar-collapse">
						<ul class="navbar-nav me-auto mb-2 mb-md-0">
							<li class="nav-item">
								{% if 'summoners' in request.path %}
								<a class="nav-link active" href="{% url 'summoners/index' %}" aria-current="page">Invocadores</a>
								{% else %}
									<a class="nav-link" href="#">Invocadores</a>
								{% endif %}
							</li>
							<li class="nav-item">
								{% if 'champions' in request.path %}
									<a class="nav-link active" href="{% url 'champions/index' %}" aria-current="page">Campeones</a>
								{% else %}
									<a class="nav-link" href="{% url 'champions/index' %}">Campeones</a>
								{% endif %}
							</li>
							<li class="nav-item">
								{% if 'objects' in request.path %}
									<a class="nav-link active" href="#" aria-current="page">Objetos</a>
								{% else %}
									<a class="nav-link" href="#">Objetos</a>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main class="flex-shrink-0">
			{% block content %}
			{% endblock %}
		</main>
		<script src="{% static 'libs/bootstrap-5.1.3/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		{% block scripts %}
		{% endblock %}
	</body>
	<footer class="footer mt-auto py-3 bg-light">
		<div class="container">
			<span class="text-muted">Derechos reservados Roberto Garc&iacute;a</span>
		</div>
</html>

